<!-- <h1>HI Selamat Malam</h1> -->
<div class="container">
    <% if (!user) { %>
        <h1>Tidak ada User</h1>
    <% } else { %>
        <div class="greeting">
            <h1><%= letter %></h1>
        </div>
        <h1 class="header">Task List</h1>
        <div class="list"> 
            <% if (user.content.length === 0) { %>
                <h1>Tidak ada tugas untuk user ini</h1>
            <% } else { %>
                <% user.content.forEach((task) => { %>
                    <a href="/<%= task.title %>">
                        <div class="box">
                            <h1><%= task.title %></h1>
                            <p><%= task.task %></p>
                        </div>
                    </a>
                <% }) %>
            <% } %>
        </div>
    <% } %>
</div>

